<% provide(:title, "Sign up") %>
<h1>Sign up</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>
     <%= render 'shared/error_messages' %>

      <%= f.label :name %>
      <%= f.text_field :name %>
<!--
      <%= f.label :phone_number %>
      <%= f.text_field :phone_number %>

      <%= f.label :birthday %>
      <%= f.date_field :birthday %> -->
<!--
      <%= f.label :gender, "Male", for: "user_gender_male" %>
      <%= f.radio_button :gender, "Male", class: "sex" %>
      <%= f.label :gender, "Female", for: "user_gender_female" %>
      <%= f.radio_button :gender, "Female", class: "sex" %>
      <br> -->
    <!--   <p style="font-weight: bold;">Gender</p>
      <label for="user_gender" class="radio_inline">
         <input type="radio" name="user[gender]" value="Male">
      </label>
      <label for="user_gender" class="radio_inline">
        <input type="radio" name="user[gender]" value="Female">Female
      </label>
      <br> -->
<!--       <%= f.label :address %>
      <%= f.text_field :address %>
 -->
      <%= f.label :email %>
      <%= f.email_field :email %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation %>

      <%= f.submit "Create my account", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
