<% provide(:title, @user.name) %>
<h1>
  <%= gravatar_for @user %>
  <%= @user.name %>
</h1>
<br>
<p>Sex : <%= @user.gender %></p>
<p>Phone number : <%= @user.phone_number %></p>
<p>Address: <%= @user.address %></p>
<p>Birthday: <%= @user.birthday %></p>

